.card{
    border-radius: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    height: 150px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    
    .left{
        .acctno{
            color:purple;
            font-size:25px;
            margin: 0;
        }
        .save{
            margin-top:10px;
        }
        .sub{
            text-transform: capitalize;
        }
    }
    .right{
        justify-self: end;
        .bal{
            font-size:20px;
            margin: 3px 0 0 0;
        }
        .sub{
            margin: 0;
            text-align: center;
        }
    }
}
