.landingPage{
  width: 100%;
  height:100%;
  background-image: url(../../../assets/images/landing-page.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 12% 0;
  margin: 0;
  transition: margin .5s;

  section{
      h3{
        font-size: 230%;
      }
      h3,h5{
          margin-bottom: 10px;
          font-family: 'Comfortaa', cursive;
      }
      p{
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 13px;
        margin: auto;
      }
      text-align: center;
  }

  .register{
    width: 150px;
    text-align: center;
    color:white;
    background-color: purple;
    font-family: 'Merriweather Sans', sans-serif;
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px;
  } 
}

.move{
  margin-left:-350px;
}

@media(max-width: 800px){
  .landingPage{
    padding-top: 25%;
    section{
      p{
        width: 80%;
      }
    }
  }
}

@media(max-width: 500px){
  .landingPage{
    padding-top: 30%;
  }
}