.card{
    background-color:white;
    max-height: 500px;
    margin-left:40px;
    position: relative;
    border-radius: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 17px;

    .header{
        display: grid;
        width: 100%;
        position: relative;
        padding: 0 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        p{
            grid-column-start: 1;
            font-size:17px;
            margin: 0;
        }
        .icons{
            grid-column-start: 2;
            grid-column-end:7;
            font-size: 13px;
            justify-self: end;
            align-self: center;
            .sort{
                background-color: transparent;
                border:none;
                padding: 0;
                margin: 0;
            }
            .filterBox{
                display: inline-block;
                button:focus{
                    i{
                        color: blue
                    }
                }
            }
            i{
                vertical-align: middle;
                font-size: 15px;
                margin: 0 15px 0 0;
                cursor: pointer;
                color:rgba(0,0,0,.54);
            }
            i:hover{
                color:rgba(0,0,0,.84);
            }
        }
    }
    .more{
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        left:0;
        right: 0;
        width:100%;
        font-size: 12px;
        position: absolute;
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
        border: 1px solid rgba(128, 0, 128, 0.13);
        padding: 5px;
        background-color: rgba(128, 0, 128, 0.616);
        color:white;
    }

    .more:hover, .more:focus{
        background-color: rgba(128, 0, 128, 0.76);
        box-shadow: 0 0 0 2px rgba(208, 150, 112, 0.4) ;
        font-weight: 700;
    }
    
    .body{
        margin-left: 10px;
        max-height: 430px;
        overflow: auto;
        .empty{
            margin: auto;
            p{
                text-align: center;
            }
            .main{
                font-size: 16px;
            }
            .sub{
                font-size: 13px;
            }
        }
        .credit{
            color:rgb(72, 177, 72);
            font-size: 13px;
        }
        .debit{
            color: rgb(230, 79, 79);
            font-size: 13px;
        }

        .cr,.db{
            font-size: 1.5em;
            margin:0;
            position: absolute;
            top:-2px;
            left:0;
        }
        .cr{
            color:purple;
        }
        .db{
            color:orange;
        }
          
        .item{
            width: 98%;
            padding: 8px 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            
            div{
                height: inherit;
                padding: 5px 0;
                p{
                    margin: 0;
                }
                .sub{
                    font-size:11px;
                }
                .main{
                    text-transform: capitalize;
                    font-weight: bold;
                    font-size: 13px;
                }
                .one{
                    position: relative;
                    font-weight: bold;
                    font-size: 13px;
                    padding-left:20px;
                }
            }
            .first{
                grid-column-start: 1;
                margin-right: 25px;
            }
            .second{
                grid-column-start: 2;
                grid-column-end: 5;
            }
            .third{
                grid-column-start: 5;
                grid-column-end: 7;
                justify-self: end;
            }
        }
    }
    @media(max-width: 750px){
        margin-left: 0;
        margin-top: 20px;
    }

    @media(max-width: 425px){
        padding: 17px 5px;
        margin-left: 0;
        margin-top: 20px;
        .header{
            p{
                font-size:15px;
            }
            .icons{
                .sort{
                    margin: 0;
                }
            }
        }
        .body{
            .item{
                .second{
                    grid-column-start: 2;
                    grid-column-end: 5;
                }
                .third{
                    grid-column-start: 5;
                    grid-column-end: 8;
                    justify-self: end;
                }
                div{
                    .main, .one, .credit,.debit{
                        font-size: 12px;
                    }
                    .sub{
                        font-size:10px;
                    }
                }
            }
        }
    }
}


 